/* --------- */
/* SLIDER.JSX */
/* --------- */

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.slides {
  display: flex;
  justify-content: center;
  flex-basis: 90%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #222222;
  padding-left: 20px;
}

.thumbnail.active {
  background-color: rgba(64, 151, 233, 0.4);
}

.thumbnail img {
  height: 80px;
  border-radius: 4px;
}

.thumbnails .name {
  margin-left: 15px;
}

/* --------- */
/* SLIDE.JSX */
/* --------- */

.slide {
  position: relative;
}

.slide img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  bottom: 10%;
  left: 60px;
}

.content .name {
  font-size: 26px;
}

.descr {
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0;
}

.text {
  font-size: 18px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.btns {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
}

.btn {
  color: #fff;
  font-size: 16px;
  background-color: #0084ff;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #178fff;
}

.buy {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 46px;
  line-height: 16px;
  border-radius: 5px 0 0 5px;
}

.btnInner {
  display: flex;
  align-items: center;
}

.price {
  position: absolute;
  top: -30px;
}

.wishlist {
  position: relative;
}

.wishlist:hover .wish {
  display: block;
}

.wish {
  display: none;
  position: absolute;
  top: -55px;
  left: -130px;
  background-color: #1b1b1b;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: auto;
  padding: 15px 20px;
}

.wish.remove {
  left: -165px;
}

.plus img {
  height: 14px;
}

.plus {
  display: flex;
  align-items: center;
  margin-left: 1px;
  padding: 16px 18px;
  border-radius: 0 5px 5px 0;
}

/* ---------- */
/* RESPONSIVE */
/* ---------- */

@media(max-width: 1700px) {
  .thumbnail img {
    height: 70px;
    border-radius: 4px;
  }
}

@media(max-width: 1500px) {
  .thumbnail img {
    height: 60px;
    border-radius: 4px;
  }
  .buy {
    padding: 10px 30px;
  }
  .plus {
    padding: 11px 15px;
  }
  .text {
    font-size: 16px;
  }
}

@media(max-width: 1370px) {
  .slider {
    display: block;
  }
  .thumbnails {
    width: 100%;
    flex-direction: row;
  }
  .thumbnail {
    flex-basis: 17%;
    padding: 10px 10px;
  }
  .thumbnails .name {
    font-size: 12px;
  }
  .btns {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .price {
    position: inherit;
    margin-right: 20px;
    top: 0;
  }
}

@media(max-width: 1230px) {
  .thumbnail {
    justify-content: center;
  }
  .thumbnails .name {
    display: none;
  }
  .content .name {
    font-size: 20px;
  }
  .descr {
    font-size: 10px;
  }
  .buy {
    font-size: 14px;
    padding: 8px 20px;
  }
  .plus {
    padding: 9px 12px;
  }
  .wish {
    top: -35px;
    left: -100px;
    padding: 10px 15px;
    font-size: 12px;
  }
  .wish.remove {
    left: -110px;
  }
}

@media(max-width: 900px) {
  .text {
    display: none;
  }
}

@media(max-width: 770px) {
  .thumbnail img {
    height: 40px;
  }
  .content {
    left: 20px;
  }
  .content .name {
    font-size: 18px;
  }
  .price {
    font-size: 12px;
  }
  .descr {
    font-size: 8px;
  }
  .buy {
    padding: 6px 15px;
    font-size: 10px;
  }
  .plus {
    padding: 10px 8px;
  }
  .plus img {
    height: 8px;
  }
  .wish {
    top: -25px;
    left: -70px;
    padding: 6px 10px;
    font-size: 10px;
  }
  .wish.remove {
    left: -90px;
  }
}

@media(max-width: 500px) {
  .slider {
    margin: 50px -20px 0 -20px;
  }
}