html {
  color: #fff;
  background-color: #141414;
}

.app-wrapper {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100% 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  position: absolute;
  right: 0;
  left: 320px;
  margin: 40px 50px;
}

/* ---------- */
/* RESPONSIVE */
/* ---------- */

@media (max-width: 1700px) {
  .app-wrapper-content {
    left: 250px;
  }
}

@media (max-width: 1000px) {
  .app-wrapper-content {
    left: 200px;
    margin: 40px 40px;
  }
}

@media (max-width: 600px) {
  .app-wrapper {
    display: flex;
    flex-direction: column;
  }
  .app-wrapper-content {
    position: static;
    margin: 0 20px;
  }
}